.ending {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  .ending-button {
    font-family: inherit;
    font-size: 1.3rem;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: white;
    svg {
      stroke: white;
      width: 2rem;
      height: 2rem;
    }
    background: black;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    &:hover {
      background-color: rgb(82, 82, 82);
    }
    .ending-button-text {
      font-size: 1.5rem;
      font-weight: 500;
    }
  }

  .ending-text {
    h1 {
      font-size: 2rem;
    }
  }
}
