.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  color: black;
  z-index: 100;
  width: min(1265px, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 20px;
  gap: 40px;
  height: 80px;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 5px 5px 45px 2px #a8a8a8;
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.42);

  .brand {
    min-width: 200px;
    font-size: 14px;
  }
  nav {
    a {
      cursor: pointer;
    }
  }

  .socials {
    min-width: 200px;
    svg {
      margin: 10px;
    }
  }
}

.active {
  color: var(--secondary);
}
