.navbar-container {
  display: flex;
  justify-content: center;
}

.navbar {
  z-index: 100;
  width: min(1265px, 100%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 20px;
  gap: 40px;
  .navitem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: rgba(255, 255, 255, 0.109);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.42);
  }
  .brand {
    @extend .navitem;
    min-width: 200px;
    font-size: 14px;
  }

  .socials {
    @extend .navitem;
    min-width: 200px;
    svg {
      margin: 10px;
    }
  }

  nav {
    @extend .navitem;
    justify-content: center;
    width: 800px;
    border-radius: 10px;
  }
}
