.project {
  padding: 15px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .project-image {
    text-align: center;
    padding: 15px;
    img {
      border-radius: 10px;
    }
  }
  .project-text {
    text-align: left;
    max-width: 400px;
  }
}
