.controller {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .controls {
    margin-top: auto;
    display: flex;
    width: 90%;
    justify-content: space-between;
  }
  .pagination {
    margin-top: auto;
    margin-bottom: 40px;
  }
}
