.projects-container {
  width: 100vw;
  height: 100vh;
  background: url("/layered-steps-haikei.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
