html,
body {
  background-color: rgb(70, 70, 70);
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--fontcolor);
}

:root {
  --background: rgb(173, 173, 173);
  --fontcolor: white;
  --gray400: rgb(180, 180, 180);
  --secondary: black;
}
